:root {
    --text-color: #212121;
    --title-color: #000;
    --bg-color: #F5F4FA;
    
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
}
.hero {
    background-color: #e6f5e2;
}
.title {
    color: var(--title-color);
}